body {
	background-color:#0D1B2A;
}

.header h2 {
	color: #E0E1DD;
}

.header p {
	color: #E0E1DD;
}

.results {
	margin-top: 20px;
}

.card {
	text-align: center;
}

.movie-year {
	text-align: center;
}

.card-title {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.card-body {
	background-color: #1B263B;
}



